:root {
  --color-primary: #b911c57c;
  --color-primary-dark: #4B32CC;
  --color-primary-light: #8F7BFF;

  --color-bg: #0F0F1A;
  --color-surface: #1A1A2E;
  --color-surface-light: #23234A;

  --color-text: #0433c3;
  --color-text-secondary: #C7C7E1;
  --color-text-muted: #8A8AB0;
  --color-text-border: #ffea00e4;

  --color-success: #3DFFB2;
  --color-warning: #FFD166;
  --color-danger: #FF4D6D;
  --color-info: #4DCFFF;
}